# **Class 2 (28/05/2024)**

In [ ]:
myint=7
print(myint)

7

In [ ]:
myfloat=7.15
print(myfloat)
myfloat=float(7)
print(myfloat)

7.15
7.0

In [ ]:
mystring='Mominul'
print(mystring)

Mominul

In [ ]:
#operations-----------
one=115
two=250
three=one+two
print(three)
hello="hello"
world="world"
helloworld=hello+ " " +world
print(helloworld)

365
hello world

In [ ]:
a,b=2,3
print(a+b)
print(a,b)

5
2 3

In [ ]:
#-----------Topic: List (Array)------------------------------

mylist=['apple','mango','banana','orrange','pineapple']
print(mylist[0])
print(mylist[3])
print(mylist[4])

print(mylist[0]+ " "+mylist[3])

apple
orrange
pineapple
apple orrange

In [ ]:
#------------operators--------
number=1+3*2/6
print(number)
#---------Remainder/mod--------------
n=11%3
print(n)


#----Area Measurement--------
rad=3.5
#circle area--
pi=3.1416
c_area=pi*rad*rad
print(c_area)


#----

LotsHello= hello*10
print(LotsHello)

#---------
even_n=[2,4,6,8]
odd_n=[1,3,5,7]
all_n=odd_n+even_n
print(all_n)
print([1,2,3]*3)

2.0
2
38.4846
hellohellohellohellohellohellohellohellohellohello
[1, 3, 5, 7, 2, 4, 6, 8]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#let d is Base & h is height of triangle

#base=3.5
#heigh=4.5
#t_area= 0.5*base*height
#print(t_area)

#----------
a=3
b=4
c=6
s=(a+b+c)/2
area = (s * (s - a) * (s - b) * (s - c)) ** 0.5
print(area)

5.332682251925386

                     ----Note---

---
*28/05/2024*


1. Variables and types
2. operations
3. List (array)
4. operators and function

#**Class 3 (30/05/2024)**

Topics
1. string processing
2. conditions
3. for loop

##*String processing*

In [ ]:
#--------- String Processing-----------------
#--------------------------------------------
astring="Hello World"
print(astring)
print(len(astring))
print(astring.index("W"))
print(astring.count("o"))

Hello World
11
6
2

In [ ]:
astring="Hello World"
print(astring[3:7])
print(astring[3:7:2])

#1.1 string reverse
print(astring[::-1])

lo W
l
dlroW olleH

In [ ]:
astring="Hello World"
print(astring.upper())
print(astring.lower())
print(astring.swapcase())
print(astring.startswith("Hello"))
print(astring.endswith("World"))
print(astring[::-1])
words= astring.split(" ")
word1= astring.split("o")
print(words)
print(word1)

HELLO WORLD
hello world
hELLO wORLD
True
True
dlroW olleH
['Hello', 'World']
['Hell', ' W', 'rld']

In [ ]:
s= "Welcome to IICT, This is our Python programming Class"

#length
#first occureance of letter A
#A kotobar asche
#first 5 character
#next 5 characters
#13th characters
#odd index
#last 5 characters
#uppercase
#lowercase
#--wellcome diy start hoise kina
#--python diye sesh hoise kina?
#weldone

print(len(s))

print(s.index("a"))

print(s.count("a"))

print(s[0:5])
print(s[5:10])

print(s[12])

odd=s[0::2]
print(odd)

last_5_chars = s[-5:]
print(last_5_chars)

print(s.upper())

print(s.lower())

print(s.startswith("Welcome"))

print(s.endswith("Python"))

53
41
2
Welco
me to
I
Wloet IT hsi u yhnpormigCas
Class
WELCOME TO IICT, THIS IS OUR PYTHON PROGRAMMING CLASS
welcome to iict, this is our python programming class
True
False

##*Conditions*

In [ ]:
#----- Conditions---------
#-----------------------------------------
x=2
print(x==2)
print(x==3)

print(x<3)

True
False
True

In [ ]:
name="john"
age=23
if name=="john" and age== 23:
  print("Your name is John and age is 23")
if name=="john" or name=="Rick":
  print("John wick")

Your name is John and age is 23
John wick

In [ ]:
name="John"
age=23
if name in ["John", "Rick"]:
  print("your name is john or rick")

your name is john or rick

In [ ]:
age=23
if age==23:
  print("Age is 23")
else:
  print("age is not 23")

Age is 23

In [ ]:
  age= 24,25
if age==23:
 print("Age is 23")
else:
 print("age is not 23")

age is not 23

In [ ]:
a=17
b=25

if a > b:
  print("True")
else:
    print("False")

False

In [ ]:
a = 10
b = 20

if a < b:
  print("a is less than b")

else:
  print("a is less b")

a is less than b

##*For Loop*

In [ ]:
#------Loop----------------------
#---------For loop-----------

for x in range(5,9):
  print(x)

5
6
7
8

In [ ]:
for x in range(1,10):
  if x%2==0:
    print(x)

2
4
6
8

In [ ]:
for m in range(1,50):
  if m % 5==0 and m<=20:
    print(m)

5
10
15
20

In [ ]:
for x in range(1,50):
  if x % 5==0:
    if x==20:
      break
    print(x)

5
10
15

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

# **Class 4 (02/06/2024)**

##*Taking input in python*

In [ ]:
name=input("Enter your name")
age= input("Enter your age")
height= input("Enter Your Height")

#print(f"{name} is {age} years old and height)
print("{} is {} years old and height is {}".format(name, age, height))

In [ ]:
name = input("Enter your name ")
ageAsString = input("Enter you Age ")
print(type(ageAsString))
age = int(ageAsString)
print(type(age))

# print(f"{name} is {age} years old.")
print("{} is {} years old.".format(name, age))
print("{1} is {0} years old.".format(name, age))

## *Output Formatting (Recap)*

In [ ]:
#using sep parameter in print()

print("Hello", "World")
print("Hello", "World", "From SUST", sep=", ")

In [ ]:
#print without new line

print("This is first line")
print("This is second line")

print("This is third line", end=" ||| ")
print("This is fourth line")

In [ ]:
# Using format Method

print('We are completing our {} degree from {}!'.format('Honours', 'SUST'))

print('{0} and {1}'.format('Sylhet', 'Bangladesh'))

print('{1} and {0}'.format('Sylhet', 'Bangladesh'))

In [ ]:
print("1-> Geeks :{0:2d}, Portal :{1:8.4f}".format(12, 00.54))
print("2-> Geeks :{0:5d}, Portal :{1:5.1f}".format(12, 00.546))
print("3-> Geeks :{0:2.4f}, Portal :{1:4.2f}".format(12345, 12345.546))
print("4-> Geeks :{0:2d}, Portal :{1:8.2f}".format(12, 00.546))

In [ ]:
# combining positional and keyword arguments
print('Number one portal is {0}, {1}, and {other}.'
     .format('Geeks', 'For', other ='Geeks'))

# using format() method with number
print("Geeks :{0:2d}, Portal :{1:1.2f}".
      format(12, 00.546))
#here, {0:2d} means, 0th index, and the value will take the place of minimum 2 decimal
#{1:8.2f} means, 1th index, will take the place of minimum 8 decimal, and there will be 2 float value after dot (.)
print("Geeks :{0:5d}, Portal :{1:8.3f}".
      format(12, 00.546))

# Changing positional argument
print("Second argument: {1:3d}, first one: {0:7.2f}".
      format(47.42, 11))

print("Geeks: {a:5d},  Portal: {p:8.2f}".
     format(a = 453, p = 59.058))

In [ ]:
# Python program showing how to use string modulo operator(%)

print("Geeks :%2d, Portal :%5.2f" % (1, 05.333))

print("Total students : %3d, Boys : %2d" % (240, 120))   # print integer value

print("%7.3o" % (25))   # print octal value

print("%10.3E" % (356.08977))   # print exponential value

print('We are completing our %s degree from %s!' % ('Honours', 'SUST'))

In [ ]:
string = "I love SUST"

# Printing the center aligned string with fillchr
# print("Center aligned string with fillchr: ")
print(string.center(40, '#'))

# Printing the left aligned string with "-" padding
# print("The left aligned string is : ")
print(string.ljust(40, '-'))

# Printing the right aligned string with "-" padding
# print("The right aligned string is : ")
print(string.rjust(40, '-'))

##*Numeric data type*

In [ ]:
# data types

a=5
b=5.32
c=2+4j
d= "mominul"
print(type(a))
print("Type of b: ", type(b))
print("Type of c: ", type(c))
print("Type of d: ", type(d))

# **Class 5 (04/06/2024)**

##*Loop*

In [ ]:
# Example 1: Iterating Over a List
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
    print("&")

In [ ]:
# Example 2: Using the range() Function
for i in range(5):
    print(i)

In [ ]:
# Example 3: Looping Through a String
for char in "Python":
    print(char)

In [ ]:
a=[3,7,2,4,9]
for i in a:
  if i % 2 == 0:
    print(i)

In [ ]:
a=[3,7,2,4,9]
sum=0
for x in a:
  sum+=x
print(x)

In [ ]:
numbers = [3, 5, 2, 8, 1]
max_number = numbers[0]

for number in numbers:
    if number > max_number:
        max_number = number

print("Maximum value:", max_number)

In [ ]:
for i in range(0, 11, 2):
    print(i)

In [ ]:
list_of_lists =

### *For Loops*
A for loop is used for iterating over a sequence (such as a list, tuple, string, or range). The basic syntax of a for loop is:

In [ ]:
#for variable in sequence:
    # code block to be executed

In [ ]:
# Example 1: Iterating Over a List
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
# Example 2: Using the range() Function
for i in range(5):
    print(i)

In [ ]:
# Example 3: Looping Through a String
for char in "Python":
    print(char)

In [ ]:
numbers = [1, 2, 3, 4, 5]
total = 0

for number in numbers:
    total += number

print("Sum:", total)

In [ ]:
numbers = [3, 5, 2, 8, 1]
max_number = numbers[0]

for number in numbers:
    if number > max_number:
        max_number = number

print("Maximum value:", max_number)

In [ ]:
for i in range(0, 11, 2):
    print(i)

In [ ]:
for i in range(11, 0, -2):
    print(i)

In [ ]:
original_string = "Python"
reversed_string = ""

for char in original_string:
    reversed_string = char + reversed_string

print("Reversed string:", reversed_string)

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)

In [ ]:
### While Loops

A while loop repeatedly executes a block of code as long as a specified condition is True. The basic syntax of a while loop is:

In [ ]:
#while condition:
    # code block to be executed

In [ ]:
# Example 1: Basic While Loop
count = 0
while count < 5:
    print(count)
    count += 1

In [ ]:
x=int(input("How many number you want to input: "))
cnt= 0
lis= []
while cnt < x:
  a= int(input("enter the number: "))
  lis.append(a)
  cnt+= 1

print (lis)

### *Break and continue*

break statement: Exits the loop prematurely.
break statement: Exits the loop prematurely.

In [ ]:
# using break
for num in range(10):
    if num == 5:
        break
    print(num)

In [ ]:
# Using continue
for num in range(10):
    if num % 2 == 0:
        continue
    print(num)

### Nested loop
Loops can be nested within other loops. This is useful for working with multi-dimensional data structures, such as lists of lists.

In [ ]:
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

In [ ]:
for i in range(1, 6):
    for j in range(1, 6):
        print(f"{i} * {j} = {i * j}", end="\t")
    print()

## Sequence Data type
1. String
2. List
3. Tupe

### String

In [ ]:
#Using single quote
String1 = 'Welcome to the Geeks World'
print(String1)

#Using double quote
String1 = "I'm a Geek"
print(String1)
print(type(String1))

#Using triple quote
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print(String1)
print(type(String1))

String1 = 'This is a linebreak \n I\'m using quote by adding backslash'
print(String1)

String1 = '''Geeks
            For
            Life'''
print(String1)

In [ ]:
#Access character using index

String1 = "Introduction to python"
print(String1)
print(String1[0])
print(String1[5])
print(String1[10])

In [ ]:
#Negative index
print(String1[-1])
print(String1[-2])

In [ ]:
#Slice
print(String1[0:5])
print(String1[:5])
print(String1[5:])

In [ ]:

date = "2024-05-29"
year = date[:4]
month = date[5:7]
day = date[8:]
print(year, month, day)

In [ ]:
#Add to string

s = "introduction"
print(s)
s = s + " to"
print(s)
s += " python!"
print(s)

#Removing
s = s[:16]
print(s)

#Replace
s = s.replace("introduction", "Welcome")
print(s)

###List

In Python, a list is like a container that holds multiple items in a particular order. Think of it as a shopping list where you can jot down different items you need to buy. Lists are one of the most versatile and fundamental data structures in Python.

In [ ]:
fruits = ['mango', 'banana']
print("Full List: ", fruits)

print("fruits[0]: ", fruits[0])
print("fruits[1]: ", fruits[1])
# print("fruits[2]: ", fruits[2])

In [ ]:
#Negative index
print(fruits[-1])
print(fruits[-2])

In [ ]:
# append
fruits.append('apple')
print("append apple: ", fruits)
fruits.append("jackfruit")
print("append jackfruit: ", fruits)

In [ ]:
# insert
fruits.insert(1, "Orange")
print("insert Orange: ", fruits)

In [ ]:
#extend
fruits1 = ["Orange", "Apple", "Blueberry"]
fruits2 = ["Guava", "Mango"]

fruits1.extend(fruits2)
print("Fruits1 extend fruits2", fruits1)
print("Fruits2: ", fruits2)

fruits1.extend(["Banana", "Orange"])
print("Fruits1 extend again", fruits1)

In [ ]:
print("Count Orange:", fruits1.count("Orange"))
print("Index of Orange", fruits1.index("Orange"))
print("Index of Blueberry", fruits1.index("Blueberry"))

In [ ]:
#remove
fruits1 = ['Orange', 'Apple', 'Blueberry', 'Guava', 'Mango', 'Banana', 'Orange']
fruits1.remove("Orange")
print("After removing Orange 1st time", fruits1)

fruits1.remove("Orange")
print("After removing Orange 2nd time", fruits1)

fruits1.remove("Orange")
print("After removing Orange 3rd time", fruits1)

In [ ]:
#pop
fruits1.pop()
print("Fruits pop 1st time", fruits1)

fruits1.pop()
print("Fruits pop 2nd time", fruits1)

In [ ]:
#del
del fruits1[0]
print("Delete 0th indexed element", fruits1)

del fruits1[1]
print("Delete 1th indexed element", fruits1)

In [ ]:
#clear
fruits1.clear()
print(fruits1)

###Tuples
Tuples and list are almost same but Tuples are immutable sequences where list is not. Meaning once a tuple is created, its elements cannot be changed, added, or removed so methods like extend, append, insert, pop, remove aren't possible in tuples

In [ ]:
t1 = (1, 2, 3)
t2 = 1, 2, 3

print(t1)
print(t2)

In [ ]:
t = (1, 2, 3)
print(t[0])  # Output: 1
print(t[1])  # Output: 2

In [ ]:
t = (1, 2, 3)
print(t[-1])  # Output: 3
print(t[-2])  # Output: 2

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[1:3])   # Output: (2, 3)
print(t[:3])    # Output: (1, 2, 3)
print(t[3:])    # Output: (4, 5)

In [ ]:
t = (1, 2, 3, 4)

# Convert to list
lst = list(t)

# Modify the list
lst[1] = 5

# Convert back to tuple
t = tuple(lst)
print(t)  # Output: (1, 5, 3, 4)

In [ ]:
#count
t = (1, 2, 3, 2, 2, 4)
print(t.count(2))  # Output: 3

In [ ]:
#index
t = (1, 2, 3, 2, 4)
print(t.index(2))  # Output: 1
# print(t.index(5))  # Raises ValueError: tuple.index(x): x not in tuple

# **Class 6 (06/06/2024)**

1. Dictionary

##Dictionary

In [ ]:
#Creating a dictionary (method 1)
my_dict={
    'name': 'Alice',
    'age':25,
    'city': 'New York'
}

#creating a dictionary using the dict constructor (another method)
my_dict= dict(name='Alice',age=25,city='New York')


#accessing a value
name= my_dict['name']
print(name) #output= Alic

In [ ]:
#accessing a value safely
name= my_dict.get('name')
print(name)

#using a defult value if key is not found
country=my_dict.get('country', 'USA')
print(country)

In [ ]:
#Modifying a value
my_dict['age'] =26
print(my_dict['age'])

In [ ]:
#adding a key-value pair
my_dict['email']='alice@example'
print(my_dict)

In [ ]:
#remove a new key-value pair using del
del my_dict['city']
print(my_dict)

In [ ]:
#removing a key-value pair using pop
age= my_dict.pop('age')
print(age)
print(my_dict)

##Dictionary Method



*   Key()
*   values()
*   items()
*   update()

In [ ]:
#Dictionary methos
keys=my_dict.keys()
print(keys)

values= my_dict.values()
print(values)

items = my_dict.items()
print(items)

#Update the dictoionary

my_dict.update({'town': 'Los Angeles', 'phone': '123-456-7890'})
print(my_dict)

In [ ]:
#Iterative over key
for key in my_dict:
  print (key,my_dict[key])

#Iteraing over values

for value in my_dict.values():
  print(value)

#Iteratiove over key-value pairs
for key,value in my_dict.items():
  print(key,value)

In [ ]:
my={
    'name': 'Md Mominul Islam',
    'regino': '2019135158',
    'semester': '7th',
    'session': '2019-20',
    'email': 'mominul.sust2020@gmail.com',
    'address': 'Shahporan Hall, SUST',
    'department': 'GEE'
}

#Access a value
print (my['name'])
print (my['regino'])

In [ ]:
#modify a value
my['department']='Geography and Environment'
print (my)

In [ ]:
#add a new key-value pair

del my['address']
print(my)

In [ ]:
#using dictionary method
print(my.keys())
print (my.values())
print(my.items())

In [ ]:
#Iterating over dictionary
for key, value in my.items():
  print (key,value)

In [ ]:
##counting values in a list
lis=[1,2,3,4,4,6,8,0,10]
count_dict={}
for num in lis:
  existing_count=count_dict.get(num)
  if (existing_count == None):
    count_dict[num]=0
  count_dict[num]+=1
for key, value in count_dict.items():
  print (key,value)

In [ ]:
word=["Thank you for your help. Thank you so much"]
word_str = word[0]
lis= word_str.split( )
count_dict={}
for num in lis:
  existing_count=count_dict.get(num)
  if (existing_count == None):
    count_dict[num]=0
  count_dict[num]+=1
for key, value in count_dict.items():
  print (key,value)

In [ ]:
word=["MOMINUL"]
for lis in word:

  count_dict={}
  for num in lis:
    existing_count=count_dict.get(num)
    if (existing_count == None):
      count_dict[num]=0
    count_dict[num]+=1
  for key, value in count_dict.items():
    print(key,value)

In [ ]:
w = ["Mominul"]
word = " ".join(w)  # Convert the list to a string.
word = word.lower()
for lis in word:

  count_dict={}
  for num in lis:
    existing_count=count_dict.get(num)
    if (existing_count == None):
      count_dict[num]=0
    count_dict[num]+=1
  for key, value in count_dict.items():
    print(key,value)

#**Class 7 (23/06/2024)**

##Class Exercise

In [ ]:
#exercise-1 || There number rang is 1 to 100, print them which follow (num %3==0) using loop
for num in range(1,101):
  if num % 3 == 0:
    print(num)

In [ ]:
#result = [num for num in range(1, 101) if num % 3 == 0]
#print(result)

numbers= list(range(1,100))
result=[]
for num in numbers:
  if num % 3 == 0:
    result.append(num)
print(result)
#print(num)

In [ ]:
# Exercise 2|| Dictionary example
my={
    'name': 'ABC',
    'regino': '2019135158',
    'semester': '7th',
    'session': '2019-20',
    'email': 'xyz@gmail.com',
    'address': 'Shahporan Hall, SUST',
    'department': 'GEE'
}

#Access a value
print (my['name'])
print (my['regino'])

In [ ]:
del my['address']
del my['department']
print(my)

In [ ]:
#using dictionary method
print(my.keys())
print (my.values())
print(my.items())

##Set

In Python, a set is an unordered collection of unique elements. It's defined by enclosing comma-separated elements within curly braces {} or by using the set() constructor.

*Key characteristics of sets:*

Unordered: Elements have no defined order, so indexing or slicing is not supported.

Unique: Duplicate elements are automatically eliminated.

Mutable: You can add or remove elements after creation.

In [ ]:
#crewating a set with curly braces
my_set= {1,2,3,4,5}
print(my_set)

#creating a set from a list using the set function
my_set= set([1,2,3,4,5])
print(my_set)

#creating a set from a string
my_set= set('hello')
print(my_set)

In [ ]:
#Adding s single element
my_set={1,2,3}
my_set.add(4)
print(my_set) #output= {1, 2, 3, 4}

#Adding multiple elements
my_set.update([5,6,7])
print(my_set) #output= {1, 2, 3, 4, 5, 6, 7}

In [ ]:
#Removing an element
my_set={1,2,3,4}
my_set.remove(3)
print(my_set) #output= {1, 2, 4}

#Removing an element that doesn't exist using discard (no error)
my_set.discard(5)
print(my_set) #output= {1, 2, 4}

In [ ]:
#Clearing a set
my_set={1,2,3,4}
my_set.clear()
print(my_set) #output= set()

###Set Operation

In [ ]:
#Creatin a set
set_a={1,2,3}
set_b={3,4,5}

#Union
union_set= set_a.union(set_b)
print(union_set) #output= {1, 2, 3, 4, 5}

#Intersection
intersection_set= set_a.intersection(set_b)
print(intersection_set) #output= {3}

#Difference
difference_set= set_a.difference(set_b)
print(difference_set) #output= {1, 2}

#Symmetric Difference
symmetric_difference_set= set_a.symmetric_difference(set_b)
print(symmetric_difference_set) #output= {1, 2, 4, 5}

###Set Comperisions

In [ ]:
#subset
set_a={1,2,3}
set_b={1,2}

print(set_b.issubset(set_a)) #output= True

#Superset
print(set_a.issuperset(set_b)) #output= True

#Equality
set_c={1,2,3}
print(set_a==set_c) #output= True

In [ ]:
#Iterating over a set
my_set={1,2,3,4,5}
for num in my_set:
  print(num)

In [ ]:
#Full Example ( Suggested code may be subject to a licence |https://github.com/meghshah136/PDS-practicals)

#creating sets
set1={1,2,3,4}
set2={3,4,5,6}

#Add elements
set1.add(7)
set1.update([8,9])

#Remove elements
set1.remove(9)
set1.discard(10) #no error if 10 is not the set

#Union, Intersection, Difference, Symmetric Difference
union_set= set1.union(set2)
intersection_set= set1.intersection(set2)
difference_set= set1.difference(set2)
symmetric_difference_set= set1.symmetric_difference(set2)

#Subset, Superset, Equality
subset= set2.issubset(set1)
superset= set1.issuperset(set2)
equality= set1==set2

#print results
print(set1)
print(set2)
print(union_set)
print(intersection_set)
print(difference_set)
print(symmetric_difference_set)
print(subset)
print(superset)
print(equality)

# **Class 8 (25/06/2024)**

##Function

In Python, a function is a block of reusable code that performs a specific task. It helps organize code, making it more readable and maintainable.

To define a function, you use the def keyword followed by the function name, parentheses for parameters (if any), and a colon. The code to be executed within the function is indented

In [ ]:
def my_funtion():
  print("Hello from a function")

In [ ]:
def my_funtion():
  print("Hello from a funtion")

print("Before calling the function")
my_funtion()

In [ ]:
def my_funtion():
  print("Hello from a function")

  print("Before calling the function")
my_funtion()

In [ ]:
def my_details():
  print("Name       : Md Mominul Islam")
  print("Reg No     : 2019135158")
  print("Semester   : 7th")
  print("Session    : 2019-20")
  print("Email      : mominul.sust2020@gmail.com")
  print("Address    : Shahporan Hall, SUST")
  print("Department : Geography and Environment")
  print("Phone No   : 01766418148")

print("Informtaion about me")
my_details()

In [ ]:
def isEven(num):
  # Check if a number is even
  if num % 2 == 0:
    return True
  else:
    return False

num= int(input("Enter a number: "))
if isEven(num):
  print(f"{num} is even")
else:
  print(f"{num} is odd")

In [ ]:
#Arguments: Information can be passed into function as arguments
def printName(name):
  print(f"Name is {name}")
name= input("Enter your name: ")
printName(name)
printName("Karim")
printName("name")

In [ ]:
def my_name(name):
  print(f"My Name is  : {name}")
name= input("Enter your name: ")

def my_reg(reg):
  print(f"Reg No      : {reg}")
reg= input("Enter your Regi. no: ")

def my_dept(dept):
  print(f"Department  : {dept}")
dept= input("Enter your Department: ")

my_name(name)
my_reg(reg)
my_dept(dept)

In [ ]:
#whre numbers= [3,7,8,9,10]
def isEven (num):
  if num % 2 == 0:
    print ("Even")
  else:
    print("Odd")

numbers = [3,7,8,9,10]
for num in numbers:
  isEven(num)

In [ ]:
def isEven (num):
  if num % 2 == 0:
    print ("Even")
  else:
    print("Odd")

numbers= [3,7,8,9,10]

def test(n):
  print(type(n))
for num in numbers:
  isEven(num)

In [ ]:
def add(a,b):
  print(f"Sum of {a} and {b} is {a+b}")
add(4,5)
add(24523,23455234)

In [ ]:
#Invalid number of parameter pass
def add(a,b,c):
  print(f"Sum of {a} and {b} is {a+b}")
add(4,5)
add(24523,23455234)

In [ ]:
#Return from funtion
def centimeterToInch(cm):
  inch= cm*0.393701
  return inch

cm= int(input("Enter the centimeter: "))
inch= centimeterToInch(cm)
print(f"{cm} centimeter is equal to {inch} inch")

In [ ]:
#Return from funtion
def centimeterToInch(cm):
  inch= cm*0.393701
  return inch

cm_10= centimeterToInch(10)
print(f"10 centimeter is {cm_10} inch")
print(f"15 centimeter is {centimeterToInch(15)} inch")

In [ ]:
def details(name, age, dob, nationality):
  return{
      "name": name,
      "age": age,
      "dob": dob,
      "birth year": dob[:4],
      "birth month": dob[5:7],
      "birth day": dob[8:],
      "nationality": nationality
  }
MrZ = details ("Mr. Z", 36, "1987-04-23", "Pakistani")
print(MrZ)

In [ ]:
def details(name, age, dob, nationality):
  a={
    "name": name,
    "age": age,
    "dob": dob,
    "birth year": dob[:4],
    "birth month": dob[5:7],
    "birth day": dob[8:],
    "nationality": nationality
  }
  return (a)
dictonary = details ("Mr. Z", 36, "1987-04-23", "Pakistani")
print(dictonary.keys())

In [ ]:
#Packing argumnets
def pack(*args):
  print(type(args))
  print(args)

pack(1,2,3,4) #output= <class 'tuple'>
pack(1,2,3,4,5,6,7,8,9,10) #output= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#Packing argumnets
#Packing argumnets
def details(*args):
  # Unpack the arguments into individual variables
  name, age, dob, nationality = args
  return{
      "name": name,
      "age": age,
      "dob": dob,
      "birth year": dob[:4],
      "birth month": dob[5:7],
      "birth day": dob[8:],
      "nationality": nationality
  }

Mr_Z = details("Mr. Z", 36, "1987-04-23", "Pakistani") # Corrected variable name
print(Mr_Z)

In [ ]:
#Unpacking arguments
def unpack(a,b,c):
  print(a,b,c)

args= (1,2,3)
unpack(*args) #output= 1 2 3

In [ ]:
#Unpacking arguments
def unpack(a,b,c):
  print(a,b,c)

args= (1,2,3,4)
unpack(*args) #output= Error

In [ ]:
def details(name, age, dob, nationality):
  return{
      "name": name,
      "age": age,
      "dob": dob,
      "birth year": dob[:4],
      "birth month": dob[5:7],
      "birth day": dob[8:],
      "nationality": nationality
  }
arg = details ("Mr. Z", 36, "1987-04-23", "Pakistani")
MrZ= details(*arg)
print(MrZ)

#**Class 9 (27/06/2024)**

## 3 Exercise

1. Take two integer input user. write  afucntion to recieve two parameter and return a list containing those 2 number in increasing order. from the main method, print out the list returned from the function

In [ ]:
def two_numbers(a, b):
  if a < b:
    return [a, b]
  else:
    return [b, a]


a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))


result = two_numbers(a, b)
print(result)

In [ ]:
#Another solution
def two_numbers(a, b):
  numbers = [a, b]
  numbers.sort()
  return numbers

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

result = two_numbers(a, b)
print(result)

In [ ]:
#Another Solution

a= int(input("Enter the first number: "))
b= int(input("Enter the second number: "))

lis=[]

if a<b:
  lis.append(a)
  lis.append(b)
else:
  lis.append(b)
  lis.append(a)

print(lis)

2. Take 2 string input from user, write a function to recieve 2 parameter and return a dictionary in where thekey value is as dhown in the example. the dictionary will contain the string and its length. from the main method, point out the whole dictionary returned from the function.

In [ ]:
def string(first, second):
  return {
      "first": len(first),
      "second": len(second)
  }

first= input("Enter the first string: ")
second = input("Enter the second string: ")
result= string(first, second)
print(result)

In [ ]:
#Another Solution using dictonary

first= input("Enter the first string: ")
second = input("Enter the second string: ")

first_dic= dict(string= first, length= len(first))

second_dic= {
    "string": second,
    "length": len(second)
}

dict_list= [first_dic, second_dic]
print(dict_list)

In [ ]:
#If smaller length take first place... then follow this step
#-----------------------------------------------------------

first= input("Enter the first string: ")
second = input("Enter the second string: ")

first_dic= dict(string= first, length= len(first))

second_dic= {
    "string": second,
    "length": len(second)
}

#dict_list= [first_dic, second_dic]
lis=[]

if first_dic["length"] < second_dic["length"]:
  lis.append(first_dic)
  lis.append(second_dic)
else:
  lis.append(second_dic)
  lis.append(first_dic)

print(lis)

3. Take three integer input from user. write a function to recieve 3 parameter and in the function insert them in a list in increasing order and return that. from the main method, print out the list returned from the function.

In [ ]:
def three_numbers(a, b, c):
  numbers = [a, b, c]
  numbers.sort()
  return numbers

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

result = three_numbers(a, b, c)
print(result)

## Function Arguments

Function arguments in python are the inputs passed to a function to execute a specific task. Arguments are enclosed within parentheses, separated by commas, and can be of any data type. Arguments are used to make the function more versatile and adaptable. In Python, there are several types of function arguments in python, lets understand them briefly here then we will see all of them with the example:

**Positional arguments:**
These are arguments that are passed to a function in the order they are defined in the functions parameter list.

**Default arguments:** These are arguments that have default values assigned to them in the function definition. The default value will be used in the case when the argument is not provided in the function.

**Keyword arguments:** These are arguments that are passed to a function with the parameter name explicitly specified. This allows the arguments to be passed in any order, as long as the parameter name is specified.

**Variable-length arguments:** These are arguments that allow a function to accept an arbitrary number of arguments.
In Python, there are two types of variable-length arguments: *args, which accepts a variable number of positional arguments, and **kwargs, which accepts a variable number of keyword arguments.

In [ ]:
#

#**Class 10 (30/06/2024)**

## Practice Problem

### Problem 01
You are given a list of daily temperatures for a week. Write a program to find the average temperature for the week and print it. Also, determine the highest and lowest temperatures recorded during the week.

In [ ]:
#Solution
#----------------------------------------------------------------------
temp = [28, 30, 25, 28, 29, 27, 32]

#The average temperature
avg_temp= sum(temp) / len(temp)
print("Average temperature for the week:", avg_temp)

highest_temp = max(temp)
lowest_temp = min(temp)

print("Highest temperature:", highest_temp)
print("Lowest temperature:", lowest_temp)

In [ ]:
#Another Solution (with for loop)
#----------------------------------------------------------------------
temperatures = [28, 30, 25, 28, 29, 27, 32]
total_temp=0.0
length = 0

min_temp, max_temp = temperatures[0], temperatures[0]

for temp in temperatures:
  total_temp += temp
  length += 1

  if min_temp > temp:
    min_temp = temp
  if max_temp < temp:
    max_temp = temp

avg_temp = total_temp / length
print(f"Average temperature for the week: {avg_temp}, Min:{min_temp}, Max:{max_temp}")

### Problem 02
You have two sets of email addresses: one from a newsletter signup form and another from a purchase form on your website. Write a program to find and print the email addresses that appear in both sets.

In [ ]:
#Solution
#------------------------------------------------------------------------------
newsletter_emails = {"rahim@gmail.com", "karim@gmail.com", "abdul@gmail.com"}
purchase_emails = {"karim@gmail.com", "mehedi@gmail.com", "hasan@egmail.com"}

common_emails = newsletter_emails.intersection(purchase_emails)

print("Common email addresses:", common_emails)

In [ ]:
#Another Solution
#--------------------------------------
newsletter_emails = {"rahim@gmail.com", "karim@gmail.com", "abdul@gmail.com"}
purchase_emails = {"karim@gmail.com", "mehedi@gmail.com", "hasan@egmail.com"}

common_emails=[]
for newsletter_email in newsletter_emails:
  for purchase_email in purchase_emails:
    if newsletter_email == purchase_email:
      common_emails.append(newsletter_email)

print("Common email addresses:", common_emails)

### Problem 03
You are organizing a coding competition. Write a program that takes a list of participants, where each participant is represented by a dictionary with keys "name" and "score". Calculate the average score and print a congratulatory message for participants who scored above the average.

In [ ]:
participants = {
    'Rahim': 25,
    'Karim': 30,
    'Mehedi': 40,
    'Hasan': 50,
    'Rasel': 60,
}

total_score = 0
for name, score in participants.items():
  total_score += score
  if score > average_score:
    print(f"Congratulations! {name} scored {score} in the competition.")

average_score = total_score / len(participants)
print("Average score:", average_score)

In [ ]:
participants = {
    'Rahim': 25,
    'Karim': 30,
    'Mehedi': 40,
    'Hasan': 50,
    'Rasel': 60,
}
avg_score = sum(participants.values()) / len(participants)
print("Average score:", avg_score)
for name, score in participants.items():
  if score > avg_score:
    print(f"Congratulations! {name} scored {score} in the competition.")

In [ ]:
def make_dictionary(name, score):
  return dict(name=name, score=score)

first_perticipant_name = input("Enter the first participant's name: ")
first_perticipant_score = float(input("Enter the first participant's score: "))

second_perticipant_name = input("Enter the second participant's name: ")
second_perticipant_score = float(input("Enter the second participant's score: "))

third_perticipant_name = input("Enter the third participant's name: ")
third_perticipant_score = float(input("Enter the third participant's score: "))

first_person = make_dictionary(first_perticipant_name, first_perticipant_score)
second_person = make_dictionary(second_perticipant_name, second_perticipant_score)
third_person = make_dictionary(third_perticipant_name, third_perticipant_score)

participants = [first_person, second_person, third_person]

total_score = 0
for participant in participants:
  total_score += participant['score']

average_score = total_score / len(participants)
print(f"Average score is {average_score}")

for participant in participants:
  if participant['score'] > average_score:
    print(f"Congratulations! {participant['name']} scored {participant['score']} in the competition.")

### Problem 04
You have a dictionary of books where each key is a book title and each value is a boolean indicating whether the book is available (True) or not (False). The goal is to extract a list of book titles that are currently available and store them in a separate list.

In [ ]:
books = {
    "The Alchemist": True,
    "Origin": False,
    "Wonderland": True,
}
available_books = []
for title, available in books.items():
  if available:
    available_books.append(title)

print(available_books)

###Problem 05

You have a list of fruits where some fruit names may appear multiple times. The objective is to count the occurrences of each fruit in the list and store these counts in a dictionary.

In [ ]:
fruits= ["apple", "banana", "apple", "orange", "banana", "apple"]
fruit_count = {}

for fruit in fruits:
  if fruit in fruit_count:
    fruit_count[fruit] += 1
  else:
    fruit_count[fruit] = 1

print(fruit_count)

###Problem 06

You have a dictionary of employees' salaries where each key is an employee's name and each value is their current salary. The goal is to adjust the salaries based on the following criteria:

1.   If the salary is greater than 5000, increase it by 50%.
2.   If the salary is 5000 or less, increase it by 30%.

In [ ]:
def make_dictionary(name, salary):
  return dict(name=name, salary=salary)

first_employees_name =input("Enter the first employees name: ")
first_employees_salary =float(input("Enter the first employees salary: "))

second_employees_name =input("Enter the second employees name: ")
second_employees_salary =float(input("Enter the second employees salary: "))

third_employees_name =input("Enter the third employees name: ")
third_employees_salary =float(input("Enter the third employees salary: "))

employees = {
    'first_employees_name': first_employees_salary,
    'second_employees_name': second_employees_salary,
    'third_employees_name': third_employees_salary
}
for name, salary in employees.items():
  if salary > 5000:
    employees[name] = salary * 1.5
  elif salary <= 5000:
    employees[name] = salary * 1.3

print(employees)

###Problem 07

You have a dictionary stat where each key is a student's name and each value is their corresponding mark. Your task is to iterate through this dictionary and print out the grade each student achieved based on the following grading scale:

*   A+ : 80 - 100
*   A : 70 - 79
*   A- : 60 - 69
*   B : 50 - 59
*   F : below 50

Write a program that iterates through the stat dictionary, evaluates each student's mark against the grading scale, and prints a message indicating the grade obtained by each student.

#**MID TERM TEST**

---

---


 **Md. Mominul Isla**m  |  Reg. No: 2019135158

Batch: PP05  ||  Serial ID: 23

**Question 1:** Write a loop in python that prints the numbers from 1 to 100

In [ ]:
# Answer to the ques. no. 1
for m in range(1, 101):
  print(m)

**Question 2:** write a python code snippet that check if a number is even or odd. The number will be provided by user. So you have to take a number as input then check if the number is even or odd.

In [ ]:
#-- Answer to the Question No-2

number = int(input("Enter a number: "))
if number % 2 == 0:
  print(f"{number} is even")
else:
  print(f"{number} is odd")

**Question 3:** Write a python program that prints the multiplication table of 5 ( from 1 to 10)

In [ ]:
# Anser to the Question No-3

for p in range(1, 11):
    print(f"5 x {p} = {5 * p}")

**Question 4:** write a python code snippet that check if a number is even or odd. The number will be provided by user. So you have to take a number as input then check if the number is even or odd.

In [ ]:
#-- Answer to the Question No-4

number = int(input("Enter a number: "))
if number % 2 == 0:
  print(f"{number} is even")
else:
  print(f"{number} is odd")

**Question 5:** Write a python program that prints the multiplication table of 5 ( from 1 to 10)

In [ ]:
# Anser to the Question No-5

for m in range(1, 11):
    print(f"5 x {m} = {5 * m}")

#**Class 11 (21/11/2024)**

-  Previous Classes Summery

# **Class 12 (24/11/2024)**

## Closure

- What is Closure
- Its Uses

In [ ]:
def test(msg):
  def printer():
    print(msg)
  printer()

test("Hello world")

In [ ]:
test ("Hello world")

In [ ]:
def outer_function(msg):
  def inner_function():
    print(msg)
  return inner_function

hi_func = outer_function("Hi")
hello_func = outer_function("Hello")

hi_func()
hello_func()

In [ ]:
def outer_function(x):
  def inner_function(y):
    print(x + y)
  return inner_function

closure = outer_function(10)
closure(5) #output=15

In [ ]:
def make_counter():
  count = 0
  def counter():
    nonlocal count #the nonlocal keyword is python is usewd to refer to variables from an enclosing funct
    count += 1
    return count
  return counter
counter_1 = make_counter()
print(counter_1())
print(counter_1())
print(counter_1())

In [ ]:
def add(a,b):
  return a+b

add(3,5)

In [ ]:
def add(a,b):
  return a+b

add(a=3,b=5)

In [ ]:
def add (a,b,c=4):
  return a+b+c

add(3,4,5)
#add(3,3) Answer=10
#add(3)  not running

#**Class 13 (26/11/2024)**
What is a Closure?

In Python, a closure is created when a nested function references a value from its enclosing function's scope, even after the enclosing function has finished executing. This allows the nested function to "remember" and access the variables from the outer function's scope.

Key components of a Closure

A nested function: This is a function defined within another function.
A free variable: This is a variable that is referenced in the nested function but is defined in the enclosing function's scope.
Returning the nested function: The enclosing function must return the nested function for a closure to be formed.

In [ ]:
def outer_function(x):
    def inner_function(y):
        return x + y  # inner_function accesses 'x' from the outer scope
    return inner_function

closure = outer_function(10)  # 'closure' now holds the inner_function
result = closure(5)          # Calling 'closure' with 'y' = 5
print(result)                # Output: 15 (10 + 5)

In [ ]:
# return function

def add (a,b):
  return a+b
v= add(3,5)

print(v)

In [ ]:
#         clouser

In [ ]:
def make_counter():
  count = "a"
  def counter():
    count = "a"
    count += 1
    return count
  return counter
counter_1 = make_counter()
print(counter_1())
print(counter_1())
print(counter_1())

In [ ]:
# Decorator-------------------