# Lecture 01

In [ ]:
a = 5
b = 10
print(a, b)
print(a+b)

5 10
15

In [ ]:
radius = 5
area = 3.1416 * radius * radius
print(area)

78.54

In [ ]:
# Different print formatting

name = 'abc'
age = 26

print('The instructor\'s name is :', name, 'and his age is :',age)
print(f'The instructor\'s name is : {name} and his age is :{age}')
print('The instructor\'s name is : {} and his age is :{}'.format(name, age))

The instructor's name is : Raihan and his age is : 26
The instructor's name is : Raihan and his age is :26
The instructor's name is : Raihan and his age is :26

# Lecture 02

**Variables**
One of the most powerful features of a programming language is the ability to manipulate variables.
A variable is a name that refers to a value.
An assignment statement creates new variables and gives them values:

In [ ]:
message = 'And now for something completely different'
n=17
pi = 3.1415926535897931

print(message)

print(type(message))
print(type(n))
print(type(pi))

And now for something completely different
<class 'str'>
<class 'int'>
<class 'float'>

**Identifier:** An identifier in programming is a name given to elements such as variables, functions, classes, and other entities within the code. Identifiers are used to uniquely identify and reference these elements, allowing developers to manipulate and interact with them.

Programmers generally choose names for their variables that are meaningful—they document what the variable is used for.  

Variable names can be arbitrarily long. They can contain both letters and numbers, but they have to begin with a letter.  

It is **legal** to use **uppercase letters**, but it is a **good idea to begin variable names with a lowercase letter** (you’ll see why later).
**The underscore character (_) can appear in a name. It is often used in names with multiple words**.

If you give a variable an illegal name, you get a syntax error.

**Can't use python keywords as variable, there are 31 keywords in python:**
- `and`
- `del`
- `from`
- `as`
- `elif`
- `global`
- `assert`
- `else`
- `if`
- `break`
- `except`
- `import`
- `class`
- `exec`
- `in`
- `continue`
- `finally`
- `is`
- `def`
- `for`
- `lambda`
- `not`
- `while`
- `or`
- `with`
- `pass`
- `yield`
- `print`
- `raise`
- `return`
- `try`

In [ ]:
first name = "invalid variable"
andd = 4
a = 5
A = 8

SyntaxError: invalid syntax (<ipython-input-58-6c030c72a048>, line 1)

**Variable Types in python**

- **Text Type**: `str`
- **Numeric Types**: `int`, `float`, `complex`
- **Sequence Types**: `list`, `tuple`, `range`
- **Mapping Type**: `dict`
- **Set Types**: `set`, `frozenset`
- **Boolean Type**: `bool`
- **Binary Types**: `bytes`, `bytearray`, `memoryview`
- **None Type**: `NoneType`

##Expression vs Statement

###Expressions

**Definition**: An expression is a combination of values, variables, operators, and function calls that produces a result.

**Evaluation**: Expressions are evaluated to yield a value. For example, 2 + 3 is an expression that evaluates to 5.
Side Effects: Expressions may have side effects, but their primary purpose is to compute a value.

**Examples**: Arithmetic expressions (5 + 3, x * y), function calls (len(my_list), my_function()), and conditional expressions (True if x > 0 else False) are all examples of expressions.




###Statements


**Definition**: A statement is a unit of code that performs an action, such as assignment, control flow, or function definition.

**Execution**: Statements are executed by the Python interpreter to perform tasks like variable assignment, loop iteration, or function invocation.
No Result: Unlike expressions, statements do not produce a value.

**Examples**: Assignment statements (x = 5, my_list.append(10)), control flow statements (if, while, for), and function definition statements (def my_function():) are all examples of statements.


###Key Differences
**Evaluation vs Execution**: Expressions are evaluated to produce a value, while statements are executed to perform actions.

**Value vs Action**: Expressions produce a value, while statements perform actions such as assignment, control flow, or function invocation.

**Combination**: Statements often contain expressions, but not all expressions are statements. For example, an arithmetic expression (5 + 3) is not a statement, but an assignment statement (x = 5) contains an expression (5) on the right-hand side.

**Run Python program on a local IDE**



1.   First download [PyCharm Community Edition](https://www.jetbrains.com/pycharm/download/?section=mac)
2.   Now follow the following tutorial to run your first Python Program on Pycharm: [Create Your First Project on Python](https://www.jetbrains.com/help/pycharm/creating-and-running-your-first-python-project.html#edit-file)

# Lecture 03

## Taking input in python

In [ ]:
name = input("Enter your name ")
ageAsString = input("Enter you Age ")
print(type(ageAsString))
age = int(ageAsString)
print(type(age))

# print(f"{name} is {age} years old.")
print("{} is {} years old.".format(name, age))
print("{1} is {0} years old.".format(name, age))

Enter your name kajlsdk
Enter you Age 56
<class 'str'>
<class 'int'>
kajlsdk is 56 years old.
kajlsdk is 56 years old.

## Output Formatting (Recap)

In [ ]:
#using sep parameter in print()

print("Hello", "World")
print("Hello", "World", "From SUST", sep=", ")

Hello World
Hello, World, From SUST

In [ ]:
#print without new line

print("This is first line")
print("This is second line")

print("This is third line", end=" ||| ")
print("This is fourth line")

This is first line
This is second line
This is third line ||| This is fourth line

In [ ]:
# Using format Method

print('We are completing our {} degree from {}!'.format('Honours', 'SUST'))

print('{0} and {1}'.format('Sylhet', 'Bangladesh'))

print('{1} and {0}'.format('Sylhet', 'Bangladesh'))

We are completing our Honours degree from SUST!
Sylhet and Bangladesh
Bangladesh and Sylhet

In [ ]:
print("1-> Geeks :{0:2d}, Portal :{1:8.4f}".format(12, 00.54))
print("2-> Geeks :{0:5d}, Portal :{1:5.1f}".format(12, 00.546))
print("3-> Geeks :{0:2.4f}, Portal :{1:4.2f}".format(12345, 12345.546))
print("4-> Geeks :{0:2d}, Portal :{1:8.2f}".format(12, 00.546))

1-> Geeks :12, Portal :  0.5400
2-> Geeks :   12, Portal :  0.5
3-> Geeks :12345.0000, Portal :12345.55
4-> Geeks :12, Portal :    0.55

In [ ]:
# combining positional and keyword arguments
print('Number one portal is {0}, {1}, and {other}.'
     .format('Geeks', 'For', other ='Geeks'))

# using format() method with number
print("Geeks :{0:2d}, Portal :{1:1.2f}".
      format(12, 00.546))
#here, {0:2d} means, 0th index, and the value will take the place of minimum 2 decimal
#{1:8.2f} means, 1th index, will take the place of minimum 8 decimal, and there will be 2 float value after dot (.)
print("Geeks :{0:5d}, Portal :{1:8.3f}".
      format(12, 00.546))

# Changing positional argument
print("Second argument: {1:3d}, first one: {0:7.2f}".
      format(47.42, 11))

print("Geeks: {a:5d},  Portal: {p:8.2f}".
     format(a = 453, p = 59.058))

Number one portal is Geeks, For, and Geeks.
Geeks :12, Portal :0.55
Geeks :   12, Portal :   0.546
Second argument:  11, first one:   47.42
Geeks:   453,  Portal:    59.06

In [ ]:
# Python program showing how to use string modulo operator(%)

print("Geeks :%2d, Portal :%5.2f" % (1, 05.333))

print("Total students : %3d, Boys : %2d" % (240, 120))   # print integer value

print("%7.3o" % (25))   # print octal value

print("%10.3E" % (356.08977))   # print exponential value

print('We are completing our %s degree from %s!' % ('Honours', 'SUST'))

Geeks : 1, Portal : 5.33
Total students : 240, Boys : 120
    031
 3.561E+02
We are completing our Honours degree from SUST!

In [ ]:
string = "I love SUST"

# Printing the center aligned string with fillchr
# print("Center aligned string with fillchr: ")
print(string.center(40, '#'))

# Printing the left aligned string with "-" padding
# print("The left aligned string is : ")
print(string.ljust(40, '-'))

# Printing the right aligned string with "-" padding
# print("The right aligned string is : ")
print(string.rjust(40, '-'))

##############I love SUST###############
I love SUST-----------------------------
-----------------------------I love SUST

**Conversion**

d: Decimal integer

b :Binary format

o: octal format

x or X: Hexadecimal format

e or E: Exponential notation

f or F: Floating-point decimal

c: Single Character

s: String Format(using str()))

## Numeric data types

In [ ]:
#Numeric Data Types

a = 5
print("Type of a: ", type(a))

b = 5.0
print("\nType of b: ", type(b))

c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

## Sequence Data type
1. String
2. List
3. Tupe

### String

In [ ]:
#Using single quote
String1 = 'Welcome to the Geeks World'
print(String1)

#Using double quote
String1 = "I'm a Geek"
print(String1)
print(type(String1))

#Using triple quote
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print(String1)
print(type(String1))

String1 = 'This is a linebreak \n I\'m using quote by adding backslash'
print(String1)

String1 = '''Geeks
            For
            Life'''
print(String1)

Welcome to the Geeks World
I'm a Geek
<class 'str'>
I'm a Geek and I live in a world of "Geeks"
<class 'str'>
This is a linebreak
 I'm using quote by adding backslash
Geeks
            For
            Life

In [ ]:
#Access character using index

String1 = "Introduction to python"
print(String1)
print(String1[0])
print(String1[5])
print(String1[10])

Introduction to python
I
d
o

In [ ]:
#Negative index
print(String1[-1])
print(String1[-2])

n
o

In [ ]:
#Slice
print(String1[0:5])
print(String1[:5])
print(String1[5:])

Intro
Intro
duction to python

In [ ]:

date = "2024-05-29"
year = date[:4]
month = date[5:7]
day = date[8:]
print(year, month, day)

2024 05 29

In [ ]:
#Add to string

s = "introduction"
print(s)
s = s + " to"
print(s)
s += " python!"
print(s)

#Removing
s = s[:16]
print(s)

#Replace
s = s.replace("introduction", "Welcome")
print(s)

introduction
introduction to
introduction to python!
introduction to
Welcome to

###List

In Python, a list is like a container that holds multiple items in a particular order. Think of it as a shopping list where you can jot down different items you need to buy. Lists are one of the most versatile and fundamental data structures in Python.

In [ ]:
fruits = ['mango', 'banana']
print("Full List: ", fruits)

print("fruits[0]: ", fruits[0])
print("fruits[1]: ", fruits[1])
# print("fruits[2]: ", fruits[2])

Full List:  ['mango', 'banana']
fruits[0]:  mango
fruits[1]:  banana

In [ ]:
#Negative index
print(fruits[-1])
print(fruits[-2])

banana
mango

In [ ]:
# append
fruits.append('apple')
print("append apple: ", fruits)
fruits.append("jackfruit")
print("append jackfruit: ", fruits)

append apple:  ['mango', 'banana', 'apple']
append jackfruit:  ['mango', 'banana', 'apple', 'jackfruit']

In [ ]:
# insert
fruits.insert(1, "Orange")
print("insert Orange: ", fruits)

insert Orange:  ['mango', 'Orange', 'banana', 'apple', 'jackfruit']

In [ ]:
#extend
fruits1 = ["Orange", "Apple", "Blueberry"]
fruits2 = ["Guava", "Mango"]

fruits1.extend(fruits2)
print("Fruits1 extend fruits2", fruits1)
print("Fruits2: ", fruits2)

fruits1.extend(["Banana", "Orange"])
print("Fruits1 extend again", fruits1)

Fruits1 extend fruits2 ['Orange', 'Apple', 'Blueberry', 'Guava', 'Mango']
Fruits2:  ['Guava', 'Mango']
Fruits1 extend again ['Orange', 'Apple', 'Blueberry', 'Guava', 'Mango', 'Banana', 'Orange']

In [ ]:
print("Count Orange:", fruits1.count("Orange"))
print("Index of Orange", fruits1.index("Orange"))
print("Index of Blueberry", fruits1.index("Blueberry"))

Count Orange: 2
Index of Orange 0
Index of Blueberry 2

In [ ]:
#remove
fruits1 = ['Orange', 'Apple', 'Blueberry', 'Guava', 'Mango', 'Banana', 'Orange']
fruits1.remove("Orange")
print("After removing Orange 1st time", fruits1)

fruits1.remove("Orange")
print("After removing Orange 2nd time", fruits1)

fruits1.remove("Orange")
print("After removing Orange 3rd time", fruits1)

After removing Orange 1st time ['Apple', 'Blueberry', 'Guava', 'Mango', 'Banana', 'Orange']
After removing Orange 2nd time ['Apple', 'Blueberry', 'Guava', 'Mango', 'Banana']

TypeError: list.remove() takes exactly one argument (2 given)

In [ ]:
#pop
fruits1.pop()
print("Fruits pop 1st time", fruits1)

fruits1.pop()
print("Fruits pop 2nd time", fruits1)

Fruits pop 1st time ['Apple', 'Blueberry', 'Guava', 'Mango']
Fruits pop 2nd time ['Apple', 'Blueberry', 'Guava']

In [ ]:
#del
del fruits1[0]
print("Delete 0th indexed element", fruits1)

del fruits1[1]
print("Delete 1th indexed element", fruits1)

Delete 0th indexed element ['Blueberry', 'Guava']
Delete 0th indexed element ['Blueberry']

In [ ]:
#clear
fruits1.clear()
print(fruits1)

[]

###Tuples
Tuples and list are almost same but Tuples are immutable sequences where list is not. Meaning once a tuple is created, its elements cannot be changed, added, or removed so methods like extend, append, insert, pop, remove aren't possible in tuples

In [ ]:
t1 = (1, 2, 3)
t2 = 1, 2, 3

print(t1)
print(t2)

(1, 2, 3)
(1, 2, 3)

In [ ]:
t = (1, 2, 3)
print(t[0])  # Output: 1
print(t[1])  # Output: 2

1
2

In [ ]:
t = (1, 2, 3)
print(t[-1])  # Output: 3
print(t[-2])  # Output: 2

3
2

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[1:3])   # Output: (2, 3)
print(t[:3])    # Output: (1, 2, 3)
print(t[3:])    # Output: (4, 5)

(2, 3)
(1, 2, 3)
(4, 5)

In [ ]:
t = (1, 2, 3, 4)

# Convert to list
lst = list(t)

# Modify the list
lst[1] = 5

# Convert back to tuple
t = tuple(lst)
print(t)  # Output: (1, 5, 3, 4)

(1, 5, 3, 4)

In [ ]:
#count
t = (1, 2, 3, 2, 2, 4)
print(t.count(2))  # Output: 3

3

In [ ]:
#index
t = (1, 2, 3, 2, 4)
print(t.index(2))  # Output: 1
# print(t.index(5))  # Raises ValueError: tuple.index(x): x not in tuple

1

# Lecture 4

## Modulus operator (%)
The modulus operator works on integers and yields the remainder when the first operand is divided by the second.

In [ ]:
quotient = 7/3
print(quotient)

2.3333333333333335

In [ ]:
reminder = 7%3
print(reminder)

1

## Boolean Expression
A boolean expression is an expression that is either true or false. The following examples use the operator ==, which compares two operands and produces True if they are equal and False otherwise

In [ ]:
5 == 5

True

In [ ]:
5 == 6

False

In [ ]:
type(5==6)

bool

### Logical operators
There are three logical operators: *and*, *or*, and *not*. The semantics (meaning) of these operators is similar to their meaning in English.
For example, x > 0 and x < 10 is true only if x is greater than 0 and less than 10.

In [ ]:
n = 10
a = n % 2 == 0
b = n%3 == 0
print(a and b)
print(n % 2 == 0 or n%3 == 0)

False
True

In [ ]:
x, y = 2, 4
print(x,y)
print(not(x>y))
print(x >= y)
print(x <= y)

2 4
True
False
True

### Conditional execution
we almost always need the ability to check conditions and change the behavior of the program accordingly. Conditional statements give us this ability

In [ ]:
x = -5
if (x > 0):
  x = 3
  print('x is positive')
else:
  yv = 6
  print('x is either zero or negative')
print(yv)
print("condition check finished")

x is either zero or negative

NameError: name 'yw' is not defined

In [ ]:
x, y = 33, 4
if x < y:
  print("x is less than y")
elif x > y:
  print("x is greater than y")
else:
  print("both are equal")

x is greater than y

In [ ]:
if x == y:
  gh = 7
  print("x and y are equal")
else:
  ghh = 7
  if (x < y):
    a = 7
    print ("x is less than y")
  else:
    print ("x is greater than y")
  print(a)

x is less than y

In [ ]:
a = "abc"
b = "xyz"
print(a*b)

# Lecture 5 (Loops)

Loops are fundamental constructs in programming that allow you to execute a block of code multiple times. In Python, there are two primary types of loops: `for` loops and `while` loops.

### `For` Loops
A for loop is used for iterating over a sequence (such as a list, tuple, string, or range). The basic syntax of a for loop is:
![image.png]()

In [ ]:
#for variable in sequence:
    # code block to be executed

range(0, 10)

In [ ]:
# Example 1: Iterating Over a List
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
    print("loop is done")

apple
loop is done
banana
loop is done
cherry
loop is done

In [ ]:
# Example 2: Using the range() Function
for i in range(10):
    print(i)

0
1
2
3
4

In [ ]:
# Example 3: Looping Through a String
for char in "Python":
    print(char)

P
y
t
h
o
n

In [ ]:
numbers = [1, 2, 3, 4, 5]
total = 0

for number in numbers:
    total += number

print("Sum:", total)

Sum: 15

In [ ]:
numbers = [1, 2, 3, 4, 5]
even, odd = 0, 0

for x in numbers:
    if x%2==0:
      even+=1
    else:
      odd+=1

print("Even:", even, " Odd: ", odd)

Even: 2  Odd:  3

In [ ]:
numbers = [3, 5, 2, 8, 1]
max_number = numbers[0]
second_highest = numbers[0]

for number in numbers:
    if number > max_number:
        max_number = number

for number in numbers:
        if number > second_highest and number < max_number:
            second_highest = number

print("Maximum value:", max_number)
print("Second Highest value:", second_highest)

Maximum value: 8
Second Highest value: 5

In [ ]:
for i in range(10, 2, -1):
    print(i)

10
9
8
7
6
5
4
3

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = []

for sublist in list_of_lists:
    for item in sublist:
        flat_list.append(item)

print("Flattened list:", flat_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
original_string = "Python"
reversed_string = ""

for char in original_string:
    reversed_string = char + reversed_string

print("Reversed string:", reversed_string)

Reversed string: nohtyP

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
### While Loops

A while loop repeatedly executes a block of code as long as a specified condition is True. The basic syntax of a while loop is:

In [ ]:
#while condition:
    # code block to be executed

In [ ]:
# Example 1: Basic While Loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
x = int(input("How many number you want to input: "))
cnt = 0
lis = []
while cnt < x:
  a = int(input("Enter the number: "))
  lis.append(a)
  cnt += 1

print(lis)

How many number you want to input: 3
Enter the number: 1
Enter the number: 2
Enter the number: 3
[1, 2, 3]

### break and continue

break statement: Exits the loop prematurely.
break statement: Exits the loop prematurely.

In [ ]:
# using break
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

In [ ]:
# Using continue
for num in range(10):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

### Nested loop
Loops can be nested within other loops. This is useful for working with multi-dimensional data structures, such as lists of lists.

In [ ]:
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [ ]:
for i in range(1, 6):
    for j in range(1, 6):
        print(f"{i} * {j} = {i * j}", end="\t")
    print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25

# Lecture 6

### Dictionary
Dictionary is a built-in data type used to store collections of key-value pairs. Each key in a dictionary is unique and immutable (such as a string, number, or tuple with immutable elements), while values can be of any data type and can be duplicated.

In [ ]:
# Creating a dictionary
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York',
}

In [ ]:
# Creating a dictionary using the dict constructor
my_dict = dict(name='Alice', age=25, city='New York')

In [ ]:
# Accessing a value
name = my_dict['Name']
print(name)  # Output: Alice

KeyError: 'Name'

In [ ]:
# Your first ever python program! :3 Congratulations!!!
print('Hello World')

Hello World

In [ ]:
# Accessing a value safely
name = my_dict.get('Name')
print(name)  # Output: Alice

# Using a default value if key is not found
country = my_dict.get('country', 'USA')
print(country)  # Output: USA

None
USA

In [ ]:
# Modifying a value
my_dict['age'] = 26
print(my_dict['age'])

26

In [ ]:
# Adding a new key-value pair
print(my_dict)
my_dict['email'] = 'alice@example.com'
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

In [ ]:
# Removing a key-value pair using del
del my_dict['city']
print(my_dict)

# Removing a key-value pair using pop
age = my_dict.pop('age')
print(age)  # Output: 26
print(my_dict)

{'name': 'Alice', 'age': 25, 'email': 'alice@example.com'}
25
{'name': 'Alice', 'email': 'alice@example.com'}

###Dictionary Methods
Here are some useful dictionary methods:
* **keys()**: Returns a view object containing the dictionary's keys.
* **values()**: Returns a view object containing the dictionary's values.
* **items()**: Returns a view object containing the dictionary's key-value pairs.
* **update()**: Updates the dictionary with key-value pairs from another dictionary or an iterable of key-value pairs.

In [ ]:
# Dictionary methods
keys = my_dict.keys()
print(keys)  # Output: dict_keys(['name', 'email'])

values = my_dict.values()
print(values)  # Output: dict_values(['Alice', 'alice@example.com'])

items = my_dict.items()
print(items)  # Output: dict_items([('name', 'Alice'), ('email', 'alice@example.com')])

# Updating the dictionary
my_dict.update({'city': 'Los Angeles', 'phone': '123-456-7890'})
print(my_dict)

dict_keys(['name', 'email'])
dict_values(['Alice', 'alice@example.com'])
dict_items([('name', 'Alice'), ('email', 'alice@example.com')])
{'name': 'Alice', 'email': 'alice@example.com', 'city': 'Los Angeles', 'phone': '123-456-7890'}

In [ ]:
# Iterating over keys
for key in my_dict:
    print(key, my_dict[key])

# Iterating over values
for value in my_dict.values():
    print(value)

# Iterating over key-value pairs
for key, value in my_dict.items():
    print(key, value)

name Alice
email alice@example.com
city Los Angeles
phone 123-456-7890
Alice
alice@example.com
Los Angeles
123-456-7890
name Alice
email alice@example.com
city Los Angeles
phone 123-456-7890

In [ ]:
#Full example

# Create a dictionary
person = {
    'name': 'Bob',
    'age': 30,
    'job': 'Engineer',
}

# Access a value
print(person['name'])  # Output: Bob

# Modify a value
person['age'] = 31

# Add a new key-value pair
person['email'] = 'bob@example.com'

# Remove a key-value pair
del person['job']

# Print the dictionary
print(person)

# Using dictionary methods
print(person.keys())    # Output: dict_keys(['name', 'age', 'email'])
print(person.values())  # Output: dict_values(['Bob', 31, 'bob@example.com'])
print(person.items())   # Output: dict_items([('name', 'Bob'), ('age', 31), ('email', 'bob@example.com')])

lis = [3, 5, 7]
for x in lis:
  print(x)

# Iterating over dictionary
for a, b in person.items():
    print(a, b)

for pair in person.items():
    print(pair[0], pair[1])

Bob
{'name': 'Bob', 'age': 31, 'email': 'bob@example.com'}
dict_keys(['name', 'age', 'email'])
dict_values(['Bob', 31, 'bob@example.com'])
dict_items([('name', 'Bob'), ('age', 31), ('email', 'bob@example.com')])
name Bob
age 31
email bob@example.com
name Bob
age 31
email bob@example.com

In [ ]:
## counting values in a list
lis = [1, 2, 3, 4, 4, 6, 8, 0, 10]
count_dict = {}
for num in lis:
  existing_count = count_dict.get(num)
  if (existing_count == None):
    count_dict[num] = 0
  count_dict[num] += 1

for key, value in count_dict.items():
  print(key, value)

1 1
2 1
3 1
4 2
6 1
8 1
0 1
10 1

##Set
In Python, a set is an unordered collection of unique elements. Sets are useful when you want to eliminate duplicate values from a list or when you need to perform mathematical set operations like union, intersection, and difference.

In [ ]:
# Creating a set with curly braces
my_set = {1, 2, 3, 4, 5, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Creating a set from a list using the set function
lis = [1, 2, 3, 4, 5]
my_set = set(lis)
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Creating a set from a string
my_set = set('helloas')
print(my_set)  # Output: {'e', 'h', 'l', 'o'}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{'e', 'o', 'l', 's', 'h', 'a'}

In [ ]:
# Adding a single element
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

# Adding multiple elements
my_set.update([5, 6, 7])
print(my_set)  # Output: {1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Removing an element
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4}

# Removing an element that doesn't exist using discard (no error)
my_set.discard(5)
print(my_set)  # Output: {1, 2, 4}

{1, 2, 4}
{1, 2, 4}

In [ ]:
# Clearing a set
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)  # Output: set()

set()

### Set Operations

In [ ]:
# Creating sets
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Union
union_set = set_a.union(set_b)
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Intersection
intersection_set = set_a.intersection(set_b)
print(intersection_set)  # Output: {3}

# Difference
difference_set = set_a.difference(set_b)
print(difference_set)  # Output: {1, 2}

# Symmetric Difference
symmetric_difference_set = set_a.symmetric_difference(set_b)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

### Set Comparisons

In [ ]:
# Subset
set_a = {1, 2, 3}
set_b = {1, 2}
print(set_b.issubset(set_a))  # Output: True

# Superset
print(set_a.issuperset(set_b))  # Output: True

# Equality
set_c = {1, 2, 3}
print(set_a == set_c)  # Output: True

True
True
True

In [ ]:
# Iterating over a set
my_set = {1, 2, 3, 4, 5, 4, 3}
for element in my_set:
    print(element)

1
2
3
4
5

In [ ]:
# Full Example

# Create sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Add elements
set1.add(7)
set1.update([8, 9])

# Remove elements
set1.remove(9)
set1.discard(10)  # No error if 10 is not in the set

# Union, Intersection, Difference, Symmetric Difference
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
sym_diff_set = set1.symmetric_difference(set2)

# Subset, Superset, Equality
is_subset = set2.issubset(set1)
is_superset = set1.issuperset(set2)
is_equal = set1 == set2

# Print results
print("Set1:", set1)
print("Set2:", set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference:", difference_set)
print("Symmetric Difference:", sym_diff_set)
print("Is Subset:", is_subset)
print("Is Superset:", is_superset)
print("Is Equal:", is_equal)

# Iterate over set
for element in set1:
    print(element)

Set1: {1, 2, 3, 4, 7, 8}
Set2: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {3, 4}
Difference: {8, 1, 2, 7}
Symmetric Difference: {1, 2, 5, 6, 7, 8}
Is Subset: False
Is Superset: False
Is Equal: False
1
2
3
4
7
8

# Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Look at the following doc for further details: https://www.w3schools.com/python/python_functions.asp

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
print("test before function")

def my_function():
  if False:
    print("Hello from a false function")
  print(x)
  print("Hello from a function")
  print("Hello from a function")

print("Before calling the function")
x = 5
my_function()

test before function
Before calling the function
Hello from a function
Hello from a function

In [ ]:
def my_function():
  print("Hello from a function")

  print("Before calling the function")

my_function()

Hello from a function
Before calling the function

In [ ]:
def isEven(a):
  if a % 3 == 0:
    print("Even")
  else:
    print("Odd")

numbers = [3, 7, 8, 9, 10]
numbers_2 = [5, 7, 7, 9, 0]

for num in numbers:
  isEven(num)

for num in numbers_2:
  isEven(num)

Even
Odd
Odd
Even
Odd
Odd
Odd
Odd
Even
Even

In [ ]:
#Arguments: Information can be passed into functions as arguments.

def printName(name):
  print(f"Name is {name}")

name = input()
printName(name)
printName("Karim")
printName("Shakib")

test
Name is test
Name is Karim
Name is Shakib

In [ ]:
def add(a, b):
  print(f"Sum of {a} and {b} is {a+b}")

add(4,5)
add(24523,23455234)

Sum of 4 and 5 is 9
Sum of 24523 and 23455234 is 23479757

In [ ]:
#Invalid number of parameter pass
def add(a, b):
  print(f"Sum of {a} and {b} is {a+b}")

add(4,5,7)

TypeError: add() takes 2 positional arguments but 3 were given

In [ ]:
#Return from function

def centimeterToInch(cm):
  inch = cm * .393701
  # print(inch)
  return (inch, "kjahsdjkh")

centimeterToInch(10)
a = [7, 8 , 9]
cm_10 = centimeterToInch(10)
print(f"10 centimeter is equal to {cm_10} inch")
print(f"15 centimeter is equal to {centimeterToInch(15)} inch")

10 centimeter is equal to (3.9370100000000003, 'kjahsdjkh') inch
15 centimeter is equal to (5.905515, 'kjahsdjkh') inch

In [ ]:
def details(name, age, dob, nationality):
  a = {
      "Name": name,
      "Age": age,
      "Date of Birth": dob,
      "Birth Year": dob[:4],
      "Birth Month": dob[5:7],
      "Birth Date": dob[8:],
      "Nationality": nationality
  }
  return a

a = 6
b = a

personal_details = details("Mr. Z", 36, "1987-04-23", "Bangladeshi")
print(personal_details.items())

dict_items([('Name', 'Mr. Z'), ('Age', 36), ('Date of Birth', '1987-04-23'), ('Birth Year', '1987'), ('Birth Month', '04'), ('Birth Date', '23'), ('Nationality', 'Bangladeshi')])

In [ ]:
# Packing arguments
def pack(*args):
  print(type(args))
  print(args)

pack()  # Output: (1, 2, 3, 4)
pack(1, 2, 3)  # Output: (1, 2, 3)

<class 'tuple'>
()
<class 'tuple'>
(1, 2, 3)

In [ ]:
#Packaging arguments
def details(*args):
  return {
      "Name": args[0],
      "Age": args[1],
      "Date of Birth": args[2],
      "Birth Year": args[2][:4],
      "Birth Month": args[2][5:7],
      "Birth Date": args[2][8:],
      "Nationality": args[3]
  }

MrZ = details("Mr. Z", 36, "1987-04-23", "Bangladeshi")
MrZ['Name'] = "abc"
print(MrZ)

{'Name': 'Mr. Z', 'Age': 36, 'Date of Birth': '1987-04-23', 'Birth Year': '1987', 'Birth Month': '04', 'Birth Date': '23', 'Nationality': 'Bangladeshi'}

In [ ]:
def details(*args):
  return {
      "Name": args[0],
      "Age": args[1],
      "Date of Birth": args[2],
      "Birth Year": args[2][:4],
      "Birth Month": args[2][5:7],
      "Birth Date": args[2][8:],
      "Nationality": args[3]
  }

MrZ = details("Mr. Z", 36, "1987-04-23", "Bangladeshi")
print(MrZ)

{'Name': 'Mr. Z', 'Age': 36, 'Date of Birth': '1987-04-23', 'Birth Year': '1987', 'Birth Month': '04', 'Birth Date': '23', 'Nationality': 'Bangladeshi'}

In [ ]:
#Unpackaging arguments
def unpack(a, b, c):
    print(a, b, c)

my_tuple = (1, 2, 3)
unpack(*my_tuple)  # Output: 1 2 3

1 2 3

In [ ]:
#Unpackaging arguments
def unpack(a, b, c):
    print(a, b, c)

my_tuple = (1, 2, 3, 4)
unpack(*my_tuple)  # Output: 1 2 3

TypeError: unpack() takes 3 positional arguments but 4 were given

In [ ]:
def details(name, age, dob, nationality):
  return {
      "Name": name,
      "Age": age,
      "Date of Birth": dob,
      "Birth Year": dob[:4],
      "Birth Month": dob[5:7],
      "Birth Date": dob[8:],
      "Nationality": nationality
  }

arg = ("Mr. Z", 36, "1987-04-23", "Bangladeshi")
MrZ = details(*arg)

print(MrZ)

{'Name': 'Mr. Z', 'Age': 36}

# Ternary Operator

In [ ]:
number = 10
if(number % 2 == 0):
  result = "Even"
else:
  result = "Odd"

resul1 = "Even" if number % 2 == 0 else "Odd"

print(result)

Even

In [ ]:
def get_status(is_active):
    return "Active" if is_active else "Inactive"

status = get_status(True)
print(status)
# Output: Active

Active

In [ ]:
i = 11
if i != 10:
  print("Not equal to 10")

Not equal to 10

###Quiz

1. Take two integer input from user. Write a function to recieve two parameter and return a list containing those 2 numbers in increasing order. From the main method, print out the list returned from the function.

 Ex.   
         input 6 3
         output: [3, 6]

2. Take two string input from user. Write a function to recieve two parameter and return a dictionary in where the key value is as shown in the example. The dictionary will contain the string and its length. From the main method, print out the whole dictionary returned from the function.
 Ex.   
         input "Australia" "China"
         output:
         [
            {
              string: "China",
              length: 5
            },
            {
              string: "Australia",
              length: 9
            }
          ]

2. Take three integer input from user. Write a function to recieve three parameter and in the function insert them in a list in increasing order and return that. From the main method, print out the list returned from the function.

 Ex.   
         input 6 9 3
         output: [3,6,9]

In [ ]:
# Q1
a = int(input())
b = int(input())

lis = []

if a > b:
  lis.append(b)
  lis.append(a)
else:
  lis.append(a)
  lis.append(b)

print(lis)

In [ ]:
#q2
first = input()
second = input()

first_dict = dict(string = first, length = len(first))

second_dict = {
    "string" : second,
    "length" : len(second)
}

dict_list = []

if first_dict["length"] > second_dict["length"]:
  dict_list.append(second_dict)
  dict_list.append(first_dict)
else:
  dict_list.append(first_dict)
  dict_list.append(second_dict)

print(dict_list)

asdkfa
lakjsdlkfasdf
[{'string': 'asdkfa', 'length': 6}, {'string': 'lakjsdlkfasdf', 'length': 13}]

### Difference between is and ==

In [ ]:
a = 10
b = 10

print(a == b)  # True because their values are the same
print(a is b)  # True because small integers are cached by Python, so they refer to the same object

True
True

In [ ]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

print(list1 == list2)  # True because their contents are the same
print(list1 is list2)  # False because they are different objects in memory

list3 = list1
print(list1 is list3)  # True because list3 is assigned the same reference as list1

True
False
True

In [ ]:
str1 = "hello"
str2 = "hello"

print(str1 == str2)  # True because their values are the same
print(str1 is str2)  # True because of string interning in Python, they refer to the same object/

True
True

### in, not in, is, is not

In [ ]:
# in
# List example
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True
print(6 in my_list)  # Output: False

# String example
my_string = "hello world"
print("hello" in my_string)  # Output: True
print("bye" in my_string)    # Output: False

# Dictionary example (checks keys)
my_dict = {"name": "Alice", "age": 25}
print("name" in my_dict)  # Output: True
print("Alice" in my_dict) # Output: False

True
False
True
False
True
False

In [ ]:
#not in
# List example
my_list = [1, 2, 3, 4, 5]
print(3 not in my_list)  # Output: False
print(6 not in my_list)  # Output: True

# String example
my_string = "hello world"
print("hello" not in my_string)  # Output: False
print("bye" not in my_string)    # Output: True

# Dictionary example (checks keys)
my_dict = {"name": "Alice", "age": 25}
print("name" not in my_dict)  # Output: False
print("Alice" not in my_dict) # Output: True

False
True
False
True
False
True

In [ ]:
#is
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)  # Output: True (both point to the same object)
print(a is c)  # Output: False (different objects with same content)

x = 5
y = 5
print(x is y)  # Output: True (small integers are cached in Python)

# String example
str1 = "hello"
str2 = "hello"
print(str1 is str2)  # Output: True (string literals are cached)

True
False
True
True

In [ ]:
#is not
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is not b)  # Output: False (both point to the same object)
print(a is not c)  # Output: True (different objects with same content)

x = 5
y = 10
print(x is not y)  # Output: True (different objects)

# String example
str1 = "hello"
str2 = "world"
print(str1 is not str2)  # Output: True (different string literals)

False
True
True
True

In [ ]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
container = {
    2: 0,
    3: 0,
    4: 0
}
for num in lis:
  if num % 2 == 0:
    container[2] += 1
  if num % 3 == 0:
    container[3] += 1
  if num % 4 == 0:
    container[4] += 1

for (num, count) in container.items():
  print(num, count)

2 5
3 3
4 2

# Practice Problem

### Problem 01:
You are given a list of daily temperatures for a week. Write a program to find the average temperature for the week and print it. Also, determine the highest and lowest temperatures recorded during the week.

In [ ]:
temperatures = [13, 14.5, 20, 25, 10.0, 11.0, 30.5]

total_temp = 0.0
length = 0

min_temp, max_temp = temperatures[0], temperatures[0]

for temp in temperatures:

  total_temp = total_temp + temp
  length = length + 1

  if min_temp > temp:
    min_temp = temp

  if max_temp < temp:
    max_temp = temp

average = total_temp / length
print(f"average Temp: {average}, min: {min_temp}, max: {max_temp}")

average Temp: 17.714285714285715, min: 10.0, max: 30.5

### Problem 02
You have two sets of email addresses: one from a newsletter signup form and another from a purchase form on your website. Write a program to find and print the email addresses that appear in both sets.

In [ ]:
signup_emails = ["abc@gmail.com", "cde@gmail.com", "def@gmail.com"]
website_emails = ["abc@gmail.com", "ghi@gmail.com", "jkl@gmail.com"]

common_emails = []

# print(signup_emails.intersection(website_emails))
for signup_email in signup_emails:

  for website_email in website_emails:

    if signup_email == website_email:
      common_emails.append(signup_email)
      break

print(common_emails)

['abc@gmail.com']

### Problem 03
You are organizing a coding competition. Write a program that takes a list of participants, where each participant is represented by a dictionary with keys "name" and "score". Calculate the average score and print a congratulatory message for participants who scored above the average.

In [ ]:
def make_dictionary(name, score):
  return dict(name=name, score = score)

first_participant_name = input()
first_participant_score = float(input())
second_participant_name = input()
second_participant_score = float(input())
third_participant_name = input()
third_participant_score = float(input())

first_person = make_dictionary(first_participant_name, first_participant_score)
second_person = make_dictionary(second_participant_name, second_participant_score)
third_person = make_dictionary(third_participant_name, third_participant_score)

participant_list = [first_person, second_person, third_person]

total_score = 0.0
total_participant = len(participant_list)

for participant in participant_list:
  total_score = total_score + participant["score"]

avg_score = total_score / total_participant

print(f"Average Score is {avg_score}")

for participant in participant_list:
  if participant["score"] > avg_score:
    print("Congratulations ", participant["name"])

alice
78
bob
80
eve
83
Average Score is 80.33333333333333
Congratulations  eve

### Problem 04
You have a dictionary of books where each key is a book title and each value is a boolean indicating whether the book is available (True) or not (False). The goal is to extract a list of book titles that are currently available and store them in a separate list.

In [ ]:
books = {
    'Too Kill a Mocking Bird': True,
    'Far and Away': False,
    'Too Close to Home': True,
    'Perks of Being a Wallflowr': False,
    'The Catcher in the Rye': True,
    'To the Lighthouse': False,
    'Pride and Prejudice': True,
    'The Great Gatsby': True,
    'One Hundred Years of Solitude': False,
}

available_books = []

for title, available in books.items():
  if available == True:
    available_books.append(title)

print(available_books)

###Problem 05

You have a list of fruits where some fruit names may appear multiple times. The objective is to count the occurrences of each fruit in the list and store these counts in a dictionary.

###Problem 06

You have a dictionary of employees' salaries where each key is an employee's name and each value is their current salary. The goal is to adjust the salaries based on the following criteria:

1.   If the salary is greater than 5000, increase it by 50%.
2.   If the salary is 5000 or less, increase it by 30%.

###Problem 07

You have a dictionary stat where each key is a student's name and each value is their corresponding mark. Your task is to iterate through this dictionary and print out the grade each student achieved based on the following grading scale:

*   A+ : 80 - 100
*   A : 70 - 79
*   A- : 60 - 69
*   B : 50 - 59
*   F : below 50

Write a program that iterates through the stat dictionary, evaluates each student's mark against the grading scale, and prints a message indicating the grade obtained by each student.

# Python Closures

A closure is a function object that remembers variables in its enclosing scope even if the scope is no longer active.

Key Points:

* Closures are used to create functions with preserved data (like a lightweight object).
* Closures are defined in a nested function, and the inner function uses variables from the outer function.

In [ ]:
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

closure = outer_function(10)
print(closure(5))  # Output: 15

15

In [ ]:
def outer_function(msg):
    def inner_function():
        print(msg)
    return inner_function

my_closure = outer_function("Hello from closure")
my_closure()

Hello from closure

In [ ]:
def make_counter():
    count = 0
    def counter():
        nonlocal count  #The nonlocal keyword in Python is used to refer to variables from an enclosing (outer) function’s scope in a nested (inner) function.
                        # It allows the inner function to modify the variable in the outer function’s scope.
        count += 1
        return count
    return counter

my_counter = make_counter()

print(my_counter())
print(my_counter())
print(my_counter())

1
2
3

# Decorator

In Python, decorators allow you to modify the behavior of a function or method. They are defined using the @decorator_name syntax.

*   Decorators function must accept a function parameter
*   Decorator function returns a inner function, works as closure

In [ ]:
def make_pretty(func):

    def inner():
        print("Decorated start: I got decorated .")
        func()
        func()
        func()
        print("Decorated end: I got decorated .")
    return inner

@make_pretty
def ordinary():
    print("I am ordinary")

ordinary()

Decorated start: I got decorated .
I am ordinary
I am ordinary
I am ordinary
Decorated end: I got decorated .

In [ ]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner

@smart_divide
def divide(a, b):
    print(a/b)

divide(2,5)

divide(2,0)

I am going to divide 2 and 5
0.4
I am going to divide 2 and 0
Whoops! cannot divide

Memoization Using Decorators in Python

In [ ]:
def memoize(function):
    cache = {}
    def wrapper(*args):
        if args not in cache:
            cache[args] = function(*args)
        return cache[args]
    return wrapper

@memoize
def factorial(n):
    if n == 0:
        return 1
    else:
        print("will execute for loop")
        for i in range(1, n):
            n = n * i
        return n

print(factorial(5))
print(factorial(5))

will execute for loop
120
120

In [ ]:
def upper_case_decorator(function):
    def wrapper():
        result = function()
        return result.upper()
    return wrapper

@upper_case_decorator
def greet():
    return "hello"

print(greet())  # Output: HELLO

HELLO

In [ ]:
def decorator_function(original_function):
    def wrapper_function(*args, **kwargs):
        print(f"Executing {original_function.__name__}...")
        return original_function(*args, **kwargs)
    return wrapper_function

@decorator_function
def say_hello():
    print("Hello!")

say_hello()

Executing say_hello...
Hello!

# Regex


---

### **Regular Expression Syntax**

Regular Expressions use specific symbols and sequences to define search patterns. Below are the common components:

#### Meta-Characters

| Meta-Character | Description                                         | Example                      | Matches                        |
|----------------|-----------------------------------------------------|------------------------------|--------------------------------|
| `.`            | Matches any single character (except newline).      | `a.b`                        | "acb", "aeb", etc.            |
| `^`            | Matches the start of the string.                    | `^abc`                       | "abc" at the start of a string|
| `$`            | Matches the end of the string.                      | `xyz$`                       | "xyz" at the end of a string  |
| `*`            | Matches 0 or more occurrences of the preceding char.| `ab*c`                       | "ac", "abc", "abbc", etc.     |
| `+`            | Matches 1 or more occurrences of the preceding char.| `ab+c`                       | "abc", "abbc", etc.           |
| `?`            | Matches 0 or 1 occurrence of the preceding char.    | `ab?c`                       | "ac" or "abc"                 |
| `{}`           | Matches a specific number of repetitions.           | `a{2,3}`                     | "aa" or "aaa"                 |

#### Special Sequences

| Special Sequence | Description                            | Example    | Matches        |
|-------------------|----------------------------------------|------------|----------------|
| `\d`             | Matches any digit (0-9).              | `\d+`      | "123"          |
| `\w`             | Matches any alphanumeric char or _.   | `\w+`      | "hello_123"    |
| `\s`             | Matches any whitespace character.     | `\s`       | " " or "\t"    |
| `\b`             | Matches a word boundary.              | `\bword\b` | "word" as whole word |
| `\D`             | Matches any non-digit character.      | `\D`       | "A"            |

#### Character Classes

| Character Class    | Description                           | Example       | Matches                    |
|--------------------|---------------------------------------|---------------|----------------------------|
| `[abc]`            | Matches any one of "a", "b", or "c". | `[abc]`       | "a", "b", "c"             |
| `[a-zA-Z]`         | Matches any letter.                  | `[a-zA-Z]`    | "a", "B", "z"             |
| `[0-9]`            | Matches any digit.                   | `[0-9]`       | "0", "5", "9"             |

### **Python's `re` Module**

Python provides the `re` module to work with Regular Expressions. Here's an overview of the key functions available in this module:

- **`re.match(pattern, string)`**  
  Checks if the pattern matches only at the **beginning** of the string.  

- **`re.search(pattern, string)`**  
Searches the string for the **first occurrence** of the pattern.  


- **`re.findall(pattern, string)`**  
Returns **all matches** of the pattern as a list.  


- **`re.finditer(pattern, string)`**  
Returns an **iterator** yielding match objects for each match.  
Example:

In [ ]:
import re

pattern = r"hello"
string = "hello world"
result = re.search(pattern, string)

if result:
    print("Match found!")
else:
    print("No match.")

Match found!

In [ ]:
import re

text = "My number is 12345 and his is 67890."
numbers = re.findall(r'\d+', text)
print("Numbers found:", numbers)

Numbers found: ['12345', '67890']

In [ ]:
import re

email = "example@test.com"
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'

if re.match(pattern, email):
    print("Valid email!")
else:
    print("Invalid email!")

Valid email!

In [ ]:
import re

text = "I love cats and dogs."
updated_text = re.sub(r'cats', 'birds', text)
print(updated_text)

I love birds and dogs.

In [ ]:
import re

data = "apple;orange,banana:grape"
fruits = re.split(r'[;,:]', data)
print(fruits)

['apple', 'orange', 'banana', 'grape']

# File Handling

* Basic Operations: Open, Read, Write, and Close.
* Syntax: open(filename, mode)
* File Modes: \\
`'r'`: Read (default). \\
`'w'`: Write (overwrites existing content). \\
`'a'`: Append (adds to the existing content). \\
`'rb'`, `'wb'`, `'ab'`: Modes for binary files. \\
`'r+'`, `'w+'`, `'a+'`: Read and write combined. \\

In [ ]:
# Open and write to a file
file = open('example.txt', 'w')
file.write('Hello, world!')
file.close()

# Open and read the file
file = open('example.txt', 'r')
content = file.read()
print(content)
file.close()

Hello, world!

### `with` keyword

In [ ]:
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

Hello, world!
Hello, world!

In [ ]:
with open('example.txt', 'r') as file:
    for line in file.readline():
        print(line.strip())

F
i
r
s
t

l
i
n
e

In [ ]:
with open('example.txt', 'r') as file:
    for line in file.readlines():
        print(line.strip())  # Removes extra newline characters

First line
Second line
Third line

### writing to a file

In [ ]:
lines = ['First line\n', 'Second line\n', 'Third line\n']
with open('example.txt', 'w') as file:
    file.writelines(lines)

In [ ]:
import json

# Dictionary to save
data = {
    "name": "Alice",
    "age": 25,
    "skills": ["Python", "Data Analysis", "Machine Learning"]
}

# Save to a JSON file
with open('data.json', 'w') as file:
    json.dump(data, file, indent=4)

print("Dictionary saved to data.json")

Dictionary saved to data.json

In [ ]:
# Load dictionary from a JSON file
# with open('data.json', 'r') as file:
#     for line in file.readlines():
#         print(line.strip())

with open('data.json', 'r') as file:
    loaded_data = json.load(file)

print("Loaded Data:", loaded_data)
print(loaded_data["name"])
print(loaded_data["age"])
print(loaded_data["skills"])

Loaded Data: {'name': 'Alice', 'age': 25, 'skills': ['Python', 'Data Analysis', 'Machine Learning']}
Alice
25
['Python', 'Data Analysis', 'Machine Learning']

# `try-expect` block

In [ ]:
with open('non_existent_file.txt', 'r') as file:
        content = file.read()
        print(content)

FileNotFoundError: [Errno 2] No such file or directory: 'non_existent_file.txt'

In [ ]:
try:
    with open('non_existent_file.txt', 'r') as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print("The file you are trying to access does not exist.")

The file you are trying to access does not exist.

In [ ]:
try:
    result = 10 / 0
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

Error: Division by zero is not allowed.

In [ ]:
try:
    result = '5' + 5  # Mixing string and integer
except TypeError as e:
    print(f"Type Error: {e}")

Type Error: can only concatenate str (not "int") to str

In [ ]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
    print("Result:", result)
except ValueError:
    print("Invalid input. Please enter a numeric value.")
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

Enter a number: as
Invalid input. Please enter a numeric value.

In [ ]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except Exception as e:  # Catch any exception
    print(f"An unexpected error occurred: {e}")

Enter a number: 0
An unexpected error occurred: division by zero